.vs/Game/FileContentIndex/ad7c4cd2-5790-4de6-beaa-d2861476b3c8.vsidx
.vs/Game/FileContentIndex/read.lock
.vs/Game/v17/.suo
.vs/Game/v17/Browse.VC.db
.vs/Game/v17/Browse.VC.db-shm
.vs/Game/v17/Browse.VC.db-wal
.vs/Game/v17/Browse.VC.opendb
.vs/Game/v17/ipch/AutoPCH/386444388d4723e1/STAGEMAIN.ipch
.vs/Game/v17/ipch/AutoPCH/39b0d5c5c3caddcb/SKY.ipch
.vs/Game/v17/ipch/AutoPCH/3ea18d2a8645e24d/PLAYER.ipch
.vs/Game/v17/ipch/AutoPCH/476ae134c879510a/WATERSURFACE.ipch
.vs/Game/v17/ipch/AutoPCH/65beb8d473db9edf/PARTICLESYSTEM.ipch
.vs/Game/v17/ipch/AutoPCH/8239dca54a11867b/STAGEMOVEFLOOR.ipch
.vs/Game/v17/ipch/AutoPCH/99a3a8dee78f839/STAGEMANAGER.ipch
